body{
    background: #d9e5f0;
    background: url(../img/bg.png);
}
.container{
    width: 1280px !important;
}
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* list */
.layer{
    background: #ffffff;
    box-shadow: 0 0 20px #cccccc;
    width: 270px;
    min-height: 640px;
    margin: 1%;
    position: relative;
}
.layer span,.layer_f span{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    margin: 3%;
    color: #777;
}
.list_title{
    display: table;
    margin: 0 auto;
    background: #4597de;
    color: #fff;
    padding: 5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}
.listBox_list{
    padding: 0px;
    text-align: center;
    padding: 15px 0;
}
.listBox_list .sortable-ghost{
    opacity: 0.4;
    background: #37648f;
}
.listBox_list li{
    list-style: none;
    display: table;
    margin: 0% auto;
    padding: 2% 0%;
    background: #e5f3fd;
    width: 100%;
    color: #1e5486;
    height: 35px;
    line-height: 27pt;
    cursor: move;
    padding-left: 15%;
    box-shadow: 0 0 20px #ccc;
}
.listBox_list li:nth-child(1){
    background: #f7edd6;
    position: relative;
}
.listBox_list li:nth-child(1)::before{
    content: '';
    display: block;
    background: url(../img/SVG/flag.svg);
    position: absolute;
    width: 30px;
    height: 40px;
    background-size: 90%;
    left: 6%;
    background-repeat: no-repeat;

}
/* layer_f */
.layer_f{
    width: 33%;
    min-height: 100px;
    background: #ffffff;
    box-shadow: 0 0 20px #cccccc;
    margin: 1%;
    position: relative;
}
.layer_f .list_title{
    display: table;
    margin: 0 auto;
    background: #4597de;
    color: #fff;
    padding: 2% 5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}
.layer_f .listBox_list{
    text-align: left;
        padding: 15px 5px;
}
.layer_f .listBox_list li{
    width: auto;
    display: inline-block;
    margin: 1%;
    line-height: 15pt;
    padding: 2%;
    border-radius: 5px;
    border-bottom: none;
    background: #d5ecd0;
    color: rgb(37, 88, 44);
    box-shadow: 0 0 20px transparent;
}
.layer_f .listBox_list li::before{
   display: none;
}
.js-remove{
    opacity: 0;
}
.listBox_list.cancancel li:hover .js-remove{
    opacity: 1;
}
#addUser{
    width: 100%;
    border: none;
    background: #668f67;
    color: #fff;
    padding: 1% 0;
    opacity: 0.4;
    transition: all .3s ease-in-out;
}
#addUser:hover{
    opacity: 1;
}
.teamA b,.teamB b,.teamC b,.teamD b,.teamE b{
    font-weight: normal;
}
.totalnum{
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    align-items: center;
}
.totalnum span{
    margin-right: 5%;
}
.totalnum button{
    background: #1e5486;
    color: #fff;
    border-color: transparent;
    border-radius: 5px;
    transition: all .3s linear;
}
.totalnum button:hover{
    filter: brightness(1.2);
}
/* select */
select{
    background: #bca9a93d;
    color: #3d4f62;
    border-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    margin-right: 3px;
}