<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maktub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootsrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- CSS&JS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/ply.css" rel="stylesheet">
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/Ply.min.js"></script>
    <!-- CDN -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/15.0.0/vuedraggable.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <!-- 字型載入 -->
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        * {
            font-family: 'Noto Sans TC';
        }
    </style>
</head>

<body>
    <h2 class="center-block" style="display: table">title</h2>
    <div id="app">
        <div class="totalnum">
            <span>城戰總人數:{{clanum1+clanum2+clanum3+clanum4+clanum5+clanum6}}</span>
            <!-- <button type="button" id="calnum">計算人數</button> -->
        </div>
        <div class="container flexBox">
            <div class="layer">
                <div class="list_title">Team A</div>
                <span>人數: {{clanum1}}</span>
                <div class="listBox">
                    <ul id="foo1" class="listBox_list" :data="discList">
                        <li v-for="(item,key) in teamA">{{item.name}}
                           <select class="custom-select">
                                <option v-for="item in item.job">{{item}}</option> 
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layer">
                <div class="list_title">Team B</div>
                <span>人數: {{clanum2}}</span>
                <div class="listBox">
                    <ul id="foo2" class="listBox_list">
                        <li v-for="(item,key) in teamB">{{item.name}}
                            <select class="custom-select">
                                <option v-for="item in item.job">{{item}}</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layer">
                <div class="list_title">Team C</div>
                <span>人數: {{clanum3}}</span>
                <div class="listBox">
                    <ul id="foo3" class="listBox_list">
                        <li v-for="(item,key) in teamC">{{item.name}}
                            <select class="custom-select">
                                 <option v-for="item in item.job">{{item}}</option> 
                             </select>
                         </li>
                    </ul>
                </div>
            </div>
            <div class="layer">
                <div class="list_title">Team D</div>
                <span>人數: {{clanum4}}</span>
                <div class="listBox">
                    <ul id="foo4" class="listBox_list">
                        <li v-for="(item,key) in teamD">{{item.name}}
                            <select class="custom-select">
                                 <option v-for="item in item.job">{{item}}</option> 
                             </select>
                         </li>
                    </ul>
                </div>
            </div>
            <div class="layer">
                <div class="list_title">Team E</div>
                <span>人數: {{clanum5}}</span>
                <div class="listBox">
                    <ul id="foo5" class="listBox_list">
                        <li v-for="(item,key) in teamE">{{item.name}}
                            <select class="custom-select">
                                 <option v-for="item in item.job">{{item}}</option> 
                             </select>
                         </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container flexBox">
            <div class="layer_f">
                <div class="list_title">single</div>
                <span>人數: {{clanum6}}</span>
                <div class="listBox">
                    <ul id="foo6" class="listBox_list">
                        <li v-for="(item,key) in single">{{item.name}}
                            <select class="custom-select">
                                 <option v-for="item in item.job">{{item}}</option> 
                             </select>
                         </li>
                    </ul>
                </div>
            </div>
            <div class="layer_f">
                <div class="list_title">vaction</div>
                <span>人數: {{clanum7}}</span>
                <div class="listBox">
                    <ul id="foo7" class="listBox_list">
                        <li v-for="(item,key) in vaction">{{item.name}}
                            <select class="custom-select">
                                 <option v-for="item in item.job">{{item}}</option> 
                             </select>
                         </li>
                    </ul>
                </div>
            </div>
            <div class="layer_f">
                <div class="list_title">add</div>
                <div class="listBox">
                    <ul id="foo8" class="listBox_list cancancel">
                        <li>member23 <i class="js-remove">✖</i></li>
                        <li>member24 <i class="js-remove">✖</i></li>
                    </ul>
                    <button id="addUser">Add</button>
                </div>
            </div>
        </div>

    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            whichTeam:'team_A',
            teamA:[{
                name:'好人寶貝',
                job:['魅影','咒術']
            },{
                name:'好人伐表',
                job:['咒術']
            },{
                name:'灼焰',
                job:['皇家']
            },{
                name:'奶爸',
                job:['盧恩']
            },{
                name:'子兒吐吐',
                job:['主教']
            },{
                name:'熊太',
                job:['貓咪']
            },{
                name:'DJ',
                job:['盧恩','皇家','斬首']
            },{
                name:'甘蔗',
                job:['修羅']
            },{
                name:'御',
                job:['魅影']
            }
            ],
            teamB:[{
                name:'Jhu.筑',
                job:['主教']
            },{
                name:'Dance蝶',
                job:['皇家','盧恩']
            },{
                name:'兒女私情',
                job:['皇家','貓咪']
            },{
                name:'0秒',
                job:['修羅']
            },{
                name:'喵騎星',
                job:['貓咪']
            },{
                name:'馬兒',
                job:['皇家','修羅']
            },{
                name:'吃不飽',
                job:['盧恩','皇家','法貓']
            },{
                name:'小熊',
                job:['貓','魅影']
            },{
                name:'老頭',
                job:['魅影']
            },{
                name:'美麗聖潔弓箭',
                job:['斬首','機匠','反叛']
            },{
                name:'洗米君',
                job:['斬首']
            },{
                name:'小智',
                job:['修羅']
            }
            ],
            teamC:[{
                name:'琲琲',
                job:['妖術','主教']
            },{
                name:'睡不飽',
                job:['皇家']
            },{
                name:'?????????',
                job:['咒術']
            },{
                name:'布爾凱索',
                job:['皇家','機匠','反叛']
            },{
                name:'咕咕雞',
                job:['反叛','主教']
            },{
                name:'Olafer',
                job:['盧恩']
            },{
                name:'法拉利',
                job:['機匠','妖術']
            },{
                name:'丸子哥',
                job:['貓咪','魅影']
            },{
                name:'曇花落',
                job:['魅影']
            },{
                name:'1+1=65',
                job:['斬首','妖術','魅影']
            }
            ],
            teamD:[{
                name:'543',
                job:['修羅']
            },{
                name:'布林喜德',
                job:['修羅']
            },{
                name:'檸檬汽水',
                job:['妖術','咒術']
            },{
                name:'人生',
                job:['盧恩']
            },{
                name:'瑾月',
                job:['舞孃','主教']
            },{
                name:'0.38',
                job:['樂師']
            },{
                name:'飛遠',
                job:['盧恩','斬首']
            },{
                name:'連盾之墜',
                job:['皇家']
            },{
                name:'安德朗克',
                job:['反叛','咒術']
            },{
                name:'糖糖',
                job:['主教','舞孃','貓咪']
            },{
                name:'梵天武神者',
                job:['遊俠']
            },{
                name:'幻風',
                job:['盧恩']
            }
            ],
            teamE:[
            ],
            single:[{
                name:'小美',
                job:['基因']
            },{
                name:'甜蜜綠茶',
                job:['樂師']
            },{
                name:'阿冰',
                job:['樂師','皇家']
            },{
                name:'Dior',
                job:['基因','主教']
            },{
                name:'會長',
                job:['修羅']
            }
            ],
            vaction:[{
                name:'Devil貓',
                job:['主教']
            },{
                name:'樂小星',
                job:['主教','職業','職業']
            },{
                name:'湘小咿',
                job:['主教','舞孃']
            },{
                name:'EE',
                job:['主教','機匠']
            },{
                name:'血染戰袍百戰痕',
                job:['盧恩']
            },{
                name:'赫潔雅',
                job:['機匠','魅影']
            },{
                name:'哭哭',
                job:['盧恩']
            },{
                name:'神_CS',
                job:['皇家']
            },{
                name:'寧靜雪',
                job:['妖術']
            },{
                name:'800',
                job:['反叛','樂師','機匠']
            },{
                name:'才蘇',
                job:['修羅','魅影']
            }
            ],
            unknow:[{
                name:'痕天痕',
                job:['主教']
            }
            ]
        },
        computed:{
            clanum1:function(){
                return this.teamA.length;
            },
            clanum2:function(){
                return this.teamB.length;
            },
            clanum3:function(){
                return this.teamC.length;
            },
            clanum4:function(){
                return this.teamD.length;
            },
            clanum5:function(){
                return this.teamE.length;
            },
            clanum6:function(){
                return this.single.length;
            },
            clanum7:function(){
                return this.vaction.length;
            },
            
        }

    })
   
</script>

</html>